name: Build ONAMob Android
on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
          channel: 'stable'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flet requests

      - name: Build Android APK
        run: |
          cp mobile_requirements.txt requirements.txt
          echo "y" | flet build apk --product "ONAMob" --org "dz.ona"

      - name: Build Android AAB
        run: |
          echo "y" | flet build aab --product "ONAMob" --org "dz.ona"

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ONAMob-Android-Builds
          path: |
            build/apk/*.apk
            build/aab/*.aab
