name: Build ONAMob Android for Google Play
on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flet requests

      - name: Build Android AAB
        run: |
          export PATH="$PATH:$HOME/.local/bin"
          rm -rf build
          yes | flet build aab --product "ONAMob" --org "dz.ona"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ONAMob-Final-App
          # تحديد الملف النهائي بدقة متناهية لتجنب حجم الـ 300 ميجا
          path: build/android/aab/*.aab
          if-no-files-found: error
